<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fakology</title>
    <!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/"> -->

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Fakology</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <main role="main" class="container my-5">
      <h3>Discover whether an Instagram user is fake / spammer or not! </h3>

      <form class="col-6" action="/fakology/result" method="POST">
         {% csrf_token %}
         <div class="form-group">
           <label for="exampleFormControlInput1">Enter the username of your target account!</label>
           <input name="username" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Instagram username">
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>
       </form>
    </main><!-- /.container -->

  </body>
</html>

