<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fakology</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/fakology">Fakology</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <main role="main" class="container my-5">
       <div class="row justify-content-center">
         <div class="col-sm-2">
            <img src="{{picURL}}" alt="" class="img-thumbnail zoom mr-2" width="80" height="80">
         </div>
       </div>
       <hr>
      <h3>Our verdict for user: <i><a  href="https://instagram.com/{{ username }}" target="_blank" style="text-decoration: none"> {{ username }} </a></i> </h3>
      <hr>
      <div class="row">
         <div class="col">Decision Tree: 
            {% if tree %}
               <span class="bg-danger p-2">Spammer</span>
            {% else %}
               <span class="bg-success p-2">Non-spammer</span>
            {% endif %}
         </div>
         <div class="col">SVM:
            {% if svm %}
               <span class="bg-danger p-2">Spammer</span>
            {% else %}
               <span class="bg-success p-2">Non-spammer</span>
            {% endif %}
         </div>
         <div class="col">NN:
            {% if nn %}
               <span class="bg-danger p-2">Spammer</span>
            {% else %}
               <span class="bg-success p-2">Non-spammer</span>
            {% endif %}
         </div>
      </div>
    </main><!-- /.container -->

  </body>
</html>

